{% extends '::bootstrap.html.twig' %}

 {% block body %}

<body class="sonata-bc ">
        {# initialize block value #}

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a href="{{ path('client') }}" class="brand">Casavana Central Order</a>
                    <div class="navbar-text pull-right">{{invoices[0].price}}Logged as {{ app.user.username }} - <a href="logout" title="Logout">Logout</a> </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="page-header">
                <h1>CASAVANA CENTRA ORDER :: Client Dashboard</h1>
            </div>
        </div>

        <h1>Invoice list</h1>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Price</th>
                <th>Fecha de Creacion</th>
            </tr>
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.price }}</td>
                <td>{{ invoice.date | date('d-m-Y') }}</td>
            </tr>
            {% endfor %}
        </table>

    </body>




 {% endblock %}


